body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: white;
  }

h1 {
color: green;
margin-bottom: 20px; 
font-family: copperplate; 
}







  #phone-container {
    position: relative;
    width: 300px;
    height: 550px;
    background-color: #000;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }

  #user-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: -200px; 
    font-family: copperplate;
  }




.phone-camera {
background-color: white;
width: 10px;
height: 10px;
border-radius: 50%;
margin: auto;
margin-top: 20px;
}



.phone-footer {
background-color: black;
width: 100%;
height: 40px;
position: absolute;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
}

.btn-styles {
cursor: pointer;
width: 100px;
margin: 20px;
margin-bottom: 70px;
color: white;
font-size: 18px;
background-color: green;
background-image: linear-gradient(green,limegreen);
border-color: white;
border-width: 3px;
}


#results-div {
color: limegreen;
margin-top: 180px;
margin-left: 40px;
font-size: 25px; 
font-family: georgia; 
}




@media screen and (max-width: 600px) {
#user-input {
  width: 90%;
  margin-top: -140px;

}

#output {
 margin-top: 5px;

}
}